pandas
numpy
nltk
rapidfuzz
textblob
vaderSentiment
transformers
scikit-learn
tensorflow
tf_keras
matplotlib
seaborn
selenium
seleniumbase
webdriver-manager
beautifulsoup4
requests
google-api-python-client